.contact{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.contactData{
  margin-top: 2rem;
}

.contactData li{
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.8rem;
  display: flex;
  align-items: center;
}

.contactData li::before{
  content: '';
  display: inline-block;
  height: 4px;
  width: 20px;
  background-color: #ddd;
  margin-right: 10px;
}

@media (max-width: 540px){
  .contact{
    grid-template-columns: 1fr 2fr;
    
  }
}
@media (max-width: 480px){
  .contact{
    display: flex;
    flex-direction: column;
  }
  .contactData{
    order: -1;
  }
  .contactData{
    margin-top: 0;
  }
}