.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-bottom: 30px;
}


.animeLeft {
 transform: translateX(-20px);
 opacity: 1;
}


@media (max-width: 600px){
  .container{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
@media (max-width: 420px){
  .container{
    display: flex;
    flex-direction: column;
  }
}
