.container {
  margin-bottom: 2rem;
  margin-left: 0;
}

.nav{
  display: flex;
  gap: 1rem;
}

.nav a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: #dcdcdc;
  border-radius: 8px;
  color: black;
  font-weight: bold;
}

@media (max-width: 380px){
  .container{
    margin-bottom: 1rem;
  }
}