*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 40rem;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
  border-radius: 0.5rem;
}

.animeLeft {
  transform: translateX(-20px);
  opacity: 1;
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to{
    transform: initial;
    opacity: inherit;
  }
}