*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 2rem;
}

h1{
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.App {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  margin: 0 auto;
  min-height: calc(100vh + 10rem);
}

.content{
  flex: 1;
}

a{
  text-decoration: none;
  color: black;
}

li{
  list-style: none;
}

img{
  max-width: 100%;
  min-width: 145px;
  border-radius: 0.5rem;
}

.animeLeft {
  transform: translateX(-20px);
  opacity: 1;
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to{
    transform: initial;
    opacity: inherit;
  }
}

.loading{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #ccc;
  box-sizing: initial;
  border-right-color: transparent;
  animation: loading 1s infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 380px){
  body{
    margin: 1rem;
  }
  h1{
    margin-bottom: 1rem;
  }
}